@model List<LMS.Model.BookModel>
@{
    Layout = null; 
}
    <div class="card ">
        <div class="card-header bg-primary text-white">
            Book List
        </div>
        <div class="card-body">
        <table class="table tblBook">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Published Date</th>
                            <th>ISBN</th>
                            <th>Available Copies</th>
                            <th>Total Copies</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model)
                        {
                                <tr>
                                    <td>@book.Title</td>
                                    <td>@book.AuthorName</td>
                                    <td>@book.PublishedDate.Value.ToString("yyyy-MM-dd")</td>
                                    <td>@book.ISBN</td>                  
                                    <td>@book.AvailableCopies</td>                  
                                    <td>@book.TotalCopies</td>
                                    <td>
                                        <a href="@Url.Action("EditBook", "Book", new { id = book.BookID })" class="btn btn-primary">Edit</a>
                                        <button onclick="DeleteBook('@book.BookID')" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>

